/* #addCafe{
    color: #FFC95F !important;
    border-color: #FFC95F !important;
}
#addCafe :hover{
    background-color: #FFC95F !important;
    color: white !important;
} */
html{
    background-color: #212529;
}

#main {
    margin: auto;
    padding: 25px;
}
#one{
    background-color: #212529;
    color: white;
    height: 500px;
}
#box{
    padding: 100px;
}

#box2{
    text-align: center;
    padding: 20px;
}

.mb-3.row{
    justify-content: center;
    text-align: left;
}

.col-form-label{
    text-align: right;
}

#myCard{
    border-radius: 7px;
    border: 1px solid #21252967;
    margin: 5px;
}

#cardBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardImg {
    height: 200px;
    width: 300px;
    border-radius: 7px 7px 0px 0px;
}

.cardText{
    padding: 10px;
}

.cardText p{
    margin-bottom: 0px;
}

a{
    text-decoration: none !important;
    color: #212529;
}

button {
    border: none;
    padding: 0px;
    margin: 0px;
}

.amenities{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productivity {
    text-align: center;
    background-color: rgba(201, 206, 252, 0.5);
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    margin: 5px;
    padding:10px; 
}

.productivity p{
    margin-top: 7px;
    margin-bottom: 0px;
}

#buttons{
    margin: 25px 0px;
    display: flex;
    justify-content: flex-start;
}

.formBtn{
    margin: 0px 10px;
}